In [1]:
import pymysql

In [2]:
mydb = pymysql.connect(
    host = 'localhost',
    user = 'root',
    port = int(3307),
    password = 'Utuama30',
    database = 'footballmanagementsysytem'
)

mycursor = mydb.cursor()

In [3]:
mycursor.execute('show columns from englishpremier_league')

10

In [4]:
sql = 'insert into englishpremier_league(PositionalID,Team,matchPlayed,Win,Draw,Loss,GoalFor,GoalAgainst,GoalDiffrence,Point) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
val = [(1, 'Arsenal', 3,3,0,0,9,2,7,9),
      (2,'Manchester City',3,2,1,0,9,3,6,7),
      (3,'Leeds United', 3,2,1,0,7,3,4,7),
      (4,'Brigthon and Hove ALbion',4,2,2,0,4,1,3,8),
      (5,'Tottenham Hotspur',3,2,1,0,7,3,4,7),
      (6,'Crystal Palace',4,2,1,1,5,4,1,7),
      (7,'Manchester United', 4,2,0,2,4,7,-3,6),
      (8,'Brentford',4,1,2,1,8,5,3,5),
      (9,'Newcastle United',3,1,2,0,5,3,2,5),
      (10,'Liverpool',4,1,2,1,6,5,1,5)]
mycursor.executemany(sql,val)
mydb.commit()

In [5]:
mycursor.execute('select * from englishpremier_league')
for x in mycursor:
    print(x)

(1, 'Arsenal', 3, 3, 0, 0, 9, 2, 7, 9)
(2, 'Manchester City', 3, 2, 1, 0, 9, 3, 6, 7)
(3, 'Leeds United', 3, 2, 1, 0, 7, 3, 4, 7)
(4, 'Brigthon and Hove ALbion', 4, 2, 2, 0, 4, 1, 3, 8)
(5, 'Tottenham Hotspur', 3, 2, 1, 0, 7, 3, 4, 7)
(6, 'Crystal Palace', 4, 2, 1, 1, 5, 4, 1, 7)
(7, 'Manchester United', 4, 2, 0, 2, 4, 7, -3, 6)
(8, 'Brentford', 4, 1, 2, 1, 8, 5, 3, 5)
(9, 'Newcastle United', 3, 1, 2, 0, 5, 3, 2, 5)
(10, 'Liverpool', 4, 1, 2, 1, 6, 5, 1, 5)

In [6]:
mycursor.execute('update englishpremier_league set MatchPlayed = 4 where PositionalID=1')
mycursor.execute('update englishpremier_league set Win = 4 where PositionalID=1')
mycursor.execute('update englishpremier_league set GoalFor = 11 where PositionalID=1')
mycursor.execute('update englishpremier_league set GoalDiffrence = 9 where PositionalID=1')
mycursor.execute('update englishpremier_league set Point = 12 where PositionalID=1')

mycursor.execute('select * from englishpremier_league')
for x in mycursor:
    print(x)

(1, 'Arsenal', 4, 4, 0, 0, 11, 2, 9, 12)
(2, 'Manchester City', 3, 2, 1, 0, 9, 3, 6, 7)
(3, 'Leeds United', 3, 2, 1, 0, 7, 3, 4, 7)
(4, 'Brigthon and Hove ALbion', 4, 2, 2, 0, 4, 1, 3, 8)
(5, 'Tottenham Hotspur', 3, 2, 1, 0, 7, 3, 4, 7)
(6, 'Crystal Palace', 4, 2, 1, 1, 5, 4, 1, 7)
(7, 'Manchester United', 4, 2, 0, 2, 4, 7, -3, 6)
(8, 'Brentford', 4, 1, 2, 1, 8, 5, 3, 5)
(9, 'Newcastle United', 3, 1, 2, 0, 5, 3, 2, 5)
(10, 'Liverpool', 4, 1, 2, 1, 6, 5, 1, 5)

In [7]:
mycursor.execute('delete from englishpremier_league where PositionalID=10')

mycursor.execute('select * from englishpremier_league')
for x in mycursor:
    print(x)

(1, 'Arsenal', 4, 4, 0, 0, 11, 2, 9, 12)
(2, 'Manchester City', 3, 2, 1, 0, 9, 3, 6, 7)
(3, 'Leeds United', 3, 2, 1, 0, 7, 3, 4, 7)
(4, 'Brigthon and Hove ALbion', 4, 2, 2, 0, 4, 1, 3, 8)
(5, 'Tottenham Hotspur', 3, 2, 1, 0, 7, 3, 4, 7)
(6, 'Crystal Palace', 4, 2, 1, 1, 5, 4, 1, 7)
(7, 'Manchester United', 4, 2, 0, 2, 4, 7, -3, 6)
(8, 'Brentford', 4, 1, 2, 1, 8, 5, 3, 5)
(9, 'Newcastle United', 3, 1, 2, 0, 5, 3, 2, 5)

In [8]:
mycursor.execute('create index playedmatch on englishpremier_league(matchPLayed)')

mycursor.execute('show indexes from englishpremier_league')
for x in mycursor:
    print(x)

('englishpremier_league', 0, 'PRIMARY', 1, 'PositionalID', 'A', 0, None, None, '', 'BTREE', '', '', 'YES', None)
('englishpremier_league', 1, 'playedmatch', 1, 'matchPlayed', 'A', 2, None, None, '', 'BTREE', '', '', 'YES', None)

In [11]:
mycursor.execute('drop table French_league')

0

In [15]:
mycursor.execute('create table French_league(PositionalID int not null primary key auto_increment,Team varchar(255) not null,matchPlayed int not null,Win int not null,Draw int not null,Loss int not null,GoalFor int not null,GoalAgainst int not null,GoalDiffrence int not null,Point int not null)')

In [14]:
sql = 'insert into French_league(PositionalID,Team,matchPlayed,Win,Draw,Loss,GoalFor,GoalAgainst,GoalDiffrence,Point) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
val = [(1, 'PSG', 4,3,1,0,18,4,14,10),
      (2,'Marseille',4,3,1,0,10,3,7,10),
      (3,'Lens', 4,3,1,0,9,4,5,10),
      (4,'Lyon',3,2,1,1,6,7,-1,7),
      (5, 'Lorient',3,2,1,0,5,3,2,7),
      (6,'Lille',4,2,1,1,9,10,-1,7),
      (7,'Auxerre',4,2,1,1,6,7,-1,7),
      (8,'Montpellier',4,2,0,2,13,9,4,6),
      (9,'Clermont Foot', 4,2,0,2,6,9,-3,6),
      (10,'Toulouse',4,1,2,1,7,6,1,5),
      (11,'Nantes',4,1,2,1,5,4,1,5),
      (12,'Monaco',4,1,2,1,5,7,-2,5),
      (13,'Rennes',4,1,1,2,4,5,-1,4),
      (14,'Brest',4,1,1,2,6,12,-6,4),
      (15,'Troyes',4,1,0,3,6,11,-5,3),
      (16,'Strausbourg',4,0,2,2,3,5,-2,2),
      (17,'Angers',4,0,2,2,2,6,-4,2),
      (18,'Nice',4,0,2,2,2,6,-4,2),
      (19,'Reims',4,0,2,2,5,10,-5,2),
      (20,'AC Ajaccio',4,0,1,3,3,7,-4,1)]
mycursor.executemany(sql,val)
mydb.commit()

In [16]:
mycursor.execute('create table Italian_league(PositionalID int not null primary key auto_increment,Team varchar(255) not null,matchPlayed int not null,Win int not null,Draw int not null,Loss int not null,GoalFor int not null,GoalAgainst int not null,GoalDiffrence int not null,Point int not null)')

0

In [17]:
sql = 'insert into Italian_league(PositionalID,Team,matchPlayed,Win,Draw,Loss,GoalFor,GoalAgainst,GoalDiffrence,Point) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
val = [(1, 'Napoli', 4,3,1,0,18,4,14,10),
      (2,'AC Milan',4,3,1,0,10,3,7,10),
      (3,'Lazio', 4,3,1,0,9,4,5,10),
      (4,'Atalanta',3,2,1,1,6,7,-1,7),
      (5, 'Torino',3,2,1,0,5,3,2,7),
      (6,'Roma',4,2,1,1,9,10,-1,7),
      (7,'Inter',4,2,1,1,6,7,-1,7),
      (8,'Juventus',4,2,0,2,13,9,4,6),
      (9,'Fiorentina', 4,2,0,2,6,9,-3,6),
      (10,'Salernitana',4,1,2,1,7,6,1,5),
      (11,'Udinese',4,1,2,1,5,4,1,5),
      (12,'Sassuolo',4,1,2,1,5,7,-2,5),
      (13,'Spezia',4,1,1,2,4,5,-1,4),
      (14,'Empoli',4,1,1,2,6,12,-6,4),
      (15,'Lecce',4,1,0,3,6,11,-5,3),
      (16,'Bologna',4,0,2,2,3,5,-2,2),
      (17,'Verona',4,0,2,2,2,6,-4,2),
      (18,'Sampdoria',4,0,2,2,2,6,-4,2),
      (19,'Cremonese',4,0,2,2,5,10,-5,2),
      (20,'Monza',4,0,1,3,3,7,-4,1)]
mycursor.executemany(sql,val)
mydb.commit()

In [18]:
mycursor.execute('create table Spanish_league(PositionalID int not null primary key auto_increment,Team varchar(255) not null,matchPlayed int not null,Win int not null,Draw int not null,Loss int not null,GoalFor int not null,GoalAgainst int not null,GoalDiffrence int not null,Point int not null)')

0

In [19]:
sql = 'insert into Spanish_league(PositionalID,Team,matchPlayed,Win,Draw,Loss,GoalFor,GoalAgainst,GoalDiffrence,Point) values(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'
val = [(1, 'Real Madrid', 4,3,1,0,18,4,14,10),
      (2,'Real Betis',4,3,1,0,10,3,7,10),
      (3,'Barcelona', 4,3,1,0,9,4,5,10),
      (4,'Atletic Bilbao',3,2,1,1,6,7,-1,7),
      (5, 'Villareal',3,2,1,0,5,3,2,7),
      (6,'Atletico Madrid',4,2,1,1,9,10,-1,7),
      (7,'Osasuna',4,2,1,1,6,7,-1,7),
      (8,'Real Sociedad',4,2,0,2,13,9,4,6),
      (9,'Mallorca', 4,2,0,2,6,9,-3,6),
      (10,'Akmeria',4,1,2,1,7,6,1,5),
      (11,'Rayo Vallecano',4,1,2,1,5,4,1,5),
      (12,'Celta Vigo',4,1,2,1,5,7,-2,5),
      (13,'Girona',4,1,1,2,4,5,-1,4),
      (14,'Valencia',4,1,1,2,6,12,-6,4),
      (15,'Sevilla',4,1,0,3,6,11,-5,3),
      (16,'Espanyol',4,0,2,2,3,5,-2,2),
      (17,'Elche',4,0,2,2,2,6,-4,2),
      (18,'Getafe',4,0,2,2,2,6,-4,2),
      (19,'Real Valladolid',4,0,2,2,5,10,-5,2),
      (20,'Cadiz',4,0,1,3,3,7,-4,1)]
mycursor.executemany(sql,val)
mydb.commit()